/*font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
ul {
  text-decoration: none;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  max-width: 1440px;
  height: 72px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  
}
.header-container {
  display: flex;
  align-items: center;
  
  
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
 padding: 24px 0;
  margin-right: 76px;
  margin-left: 156px;
  
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo {
  color: #f4f4fd;
  margin-bottom: 16px;
  display: inline-block;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
position: relative;
}

.nav-link.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
background-color:  #404bbf;
border-radius: 2px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
 
}


.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
 
}
.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}



.hero {
  background-color: #2e2f42;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  height: 600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-size: cover;
}

.container-hero {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px auto;
  justify-content: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.hero-btn {
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.hero-btn {
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.avantages {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-avantages {
  width: 1128px;
  margin: auto;
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}
.icon-wrapper {
  display: flex;
  align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}
.features-item {
  width: calc((100% - 72px) / 4);
}
.features-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
  

.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-our-team-part {
  width: 1128px;
  margin: auto;
}

img {
  display: block;
}

.our-team {
  justify-content: center;
  margin-bottom: 72px;
}

.features-team-list {
  display: flex;
  gap: 24px;
}

.our-team,
.our-portfolio {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.our-team-part {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.features-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.features-team-members {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.employee-info {
  padding: 32px 0 ;
  border-radius: 0 0 4px 4px;
}
ul {
  margin top: 0;
  padding: 0 16px 0 16px;
  list-style-type: none;
}

.social-links  {
  display: flex;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  justify-content: center;
  
}
.social-links .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links .icon {
  fill: #f4f4fd;
  
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: #404bbf;
}

. .container-our-portfolio {
  width: 1128px;
  margin: auto;
  padding: 120px 0 120px 0;
}

.our-portfolio {
  justify-content: center;
  margin-bottom: 72px;
}
.area-portfolio {
  padding: 120px 0 120px 0;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  
  background: #fff;
  cursor: pointer; 
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 48px) / 3) ;
 
}
.portfolio-item:hover{
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); 
}
.portfolio-item:hover .cover-text {
 transform: translateY(0);
}
.text-cover-wrapper {
  position: relative;
  overflow: hidden;
}

.cover-text {
position: absolute;
background: #4d5ae5;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 40px 32px ;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.features-product {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.product {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
  width: 100%;
  margin: 0 auto;
 
}

.container-footer.container {
  display: flex;
  align-items: flex-start;
  align-items: baseline;
  padding: 100px 100px;
  padding-left: 156px;
  max-width: 1440px;
  max-height: 312px;
 
  
}
.logo-footer {
  margin-right: 120px;
}

.description-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  max-height: 72px;
  
}
.social-media .icon {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 16px;

}
.social-media {
display: flex; 
gap: 16px;
}


.media-text {
  margin-bottom: 16px;
  padding-left: 16px;
 
}
.link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-media .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-media .icon {
  fill: #f4f4fd;
 
}
.social-media .link:hover,
.social-media .link:focus {
background-color: #31d0aa;
}
.media-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}
